<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>




<th:block layout:fragment="customContents">
	<div class="col-md-12">
		<div class="panel">
	    	<div class="panel-heading-white panel-heading">
	        	<h4>#모집 챌린지 목록(최보라)</h4>
	        </div>
			<div class="panel-body">
			   	<div class="col-md-12">
			   		<div class="col-md-12 top-20 padding-0">
			   			<div class="col-md-12">
			   				<div class="panel">
			   					<div class="panel-heading bg-deep-purple">
			                    	<h6 class="text-white">모집 챌린지 목록</h6>
			                    </div>
								<div class="panel-body">
									<div class="col-md-12">
										
										
					                 	
					                 	
									</div>
								</div>
							</div>
						</div>	    
					</div>  
				</div>
			</div>
		</div>
	</div>
	</th:block>
	
	<!-- 사용자 정의 Css -->
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/mediaelementplayer.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/icheck/skins/flat/red.css}"/>
	</th:block>
	
	<!-- start: Javascript -->
	<th:block layout:fragment="customBodyScript">	
		
		<!-- plugins -->
		<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
		<script th:src="@{/asset/js/plugins/icheck.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
		
		<!-- custom -->
		<script th:src="@{/asset/js/main.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			     $('input').iCheck({
			        checkboxClass: 'icheckbox_flat-red',
			        radioClass: 'iradio_flat-red'
			      });
			});
		</script>
		
	</th:block>
	<!-- end: Javascript -->
</html>