<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="col-md-12">
			<div class="panel">
		    	<div class="panel-heading-white panel-heading">
		        	<h4>챌린지 카테고리 폼</h4>
		        </div>
		        <div class="panel-body">
                    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                      <div class="col-md-12">
                        <form class="cmxform" id="challengeCategoryForm" method="get" action="">
                          <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="text" class="form-text" id="validate_memberEmail" name="validate_memberEmail" required>
                              <span class="bar"></span>
                              <label>등록자</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="text" class="form-text" id="validate_categoryName" name="validate_categoryName" required>
                              <span class="bar"></span>
                              <label>챌린지 카테고리명</label>
                            </div>
							
							 <div class="form-group" style="margin-top:40px !important; ">
                             	<label class="col-sm-4" style="color:#999; font-size: 18px;">운동 카테고리</label>
                             	<div class="col-sm-8">
                                <div class="col-sm-12 padding-0">
                                  <select class="form-control" id="validate_eClassCategory" name="validate_eClassCategory" required>
                                    <option>요가</option>
                                    <option>댄스</option>
                                    <option>줌바</option>
                                  </select>
                                </div>
                              </div>
                             </div>
                          </div>

						<div class="col-md-6">
							<div class="form-group form-animate-text">
	                  			<input type="text" class="form-text date" required>
	                  			<span class="bar"></span>
	                  			<label><span class="fa fa-calendar"></span>등록날짜</label>
	                	 	</div>
	
							<div class="form-group form-animate-text" style="margin-top:40px !important;">
							    <input type="text" class="form-text" id="validate_email" name="validate_email" required>
							    <span class="bar"></span>
							    <label>Email</label>
							</div>
						</div>                   
                          <div class="col-md-12">
                              <div class="form-group form-animate-checkbox">
                                  <input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
                                  <label>Please agree to our policy</label>
                              </div>
                              <input class="submit btn btn-danger" type="submit" value="Submit">
                        </div>
                      </form>

                    </div>
                  </div>
		        </div>
			</div>
		</div>			
	</th:block>
	
	<!-- 사용자 정의 Css -->
		<th:block layout:fragment="customCss">
			<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/nouislider.min.css}"/>
			<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/select2.min.css}"/>
			<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/ionrangeslider/ion.rangeSlider.css}"/>
			<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/ionrangeslider/ion.rangeSlider.skinFlat.css}"/>
			<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/bootstrap-material-datetimepicker.css}"/>
			<style>
			
			.dtp > .dtp-content {
				max-width: 330px !important;
			}
			</style>
		</th:block>
	
	<!-- start: Javascript -->
	<th:block layout:fragment="customBodyScript">	
		
		<!-- plugins -->
		<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.knob.js}"></script>
		<script th:src="@{/asset/js/plugins/ion.rangeSlider.min.js}"></script>
		<script th:src="@{/asset/js/plugins/bootstrap-material-datetimepicker.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.mask.min.js}"></script>
		<script th:src="@{/asset/js/plugins/select2.full.min.js}"></script>
		<script th:src="@{/asset/js/plugins/nouislider.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.validate.min.js}"></script>
		
		
		<!-- custom -->
		<script th:src="@{/asset/js/main.js}"></script>
		<script type="text/javascript">
		  $(document).ready(function(){
			  
			  $('.dateAnimate').bootstrapMaterialDatePicker({ weekStart : 0, time: false,animation:true});
			  $('.date').bootstrapMaterialDatePicker({ weekStart : 0, time: false});
			  $('.time').bootstrapMaterialDatePicker({ date: false,format:'HH:mm',animation:true});
			  $('.datetime').bootstrapMaterialDatePicker({ format : 'dddd DD MMMM YYYY - HH:mm',animation:true});
			  $('.date-fr').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', lang : 'fr', weekStart : 1, cancelText : 'ANNULER'});
			  $('.min-date').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', minDate : new Date() });
			  
		    $("#challengeCategoryForm").validate({
		      errorElement: "em",
		      errorPlacement: function(error, element) {
		        $(element.parent("div").addClass("form-animate-error"));
		        error.appendTo(element.parent("div"));
		      },
		      success: function(label) {
		        $(label.parent("div").removeClass("form-animate-error"));
		      },
		      rules: {
		    	validate_memberEmail: "required",
		        validate_categoryName: "required",
		        validate_eClassCategory: "required",
		        validate_username: {
		          required: true,
		          minlength: 2
		        },
		        validate_email: {
		          required: true,
		          email: true
		        },
		        validate_agree: "required"
		      },
		      messages: {
		    	validate_memberEmail: "이메일을 입력해주세요.",
		        validate_categoryName: "카테고리명을 입력해주세요.",
		        validate_eClassCategory: "카테고리를 선택해주세요.",
		        validate_username: {
		          required: "Please enter a username",
		          minlength: "Your username must consist of at least 2 characters"
		        },
		        validate_email: "Please enter a valid email address",
		        validate_agree: "Please accept our policy"
		      }
		    });
		
		  });
        	//스윗얼랏 사용
        	//swal("등록되었습니다.", "확인버튼을 눌러주세요.", "success");
		</script>
	</th:block>
	<!-- end: Javascript -->
</html>