<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Header Start -->
    <div class="header-area header-transparent" th:fragment="headerFragment">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/assets/img/logo/logo.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li class="active" ><a th:href="@{/}">홈</a></li>
                                            <li><a href="#">운동 클래스</a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/eClassApprovedList}">신규 클래스</a></li>
                                                    <li><a th:href="@{/OpenApplyForm}">특가 클래스</a></li>
                                                    <li><a href="elements.html">인기 클래스</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">챌린지</a>
                                                <ul class="submenu">
                                                    <li><a th:href="@{/challenge/challengeGather/challengeGatherList}">모집 중 챌린지</a></li>
                                                    <li><a href="blog_details.html">참가 챌린지</a></li>
                                                    <li><a href="elements.html">챌린지</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">식단</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">식단 은행</a></li>
                                                    <li><a href="blog_details.html">추천 식단</a></li>
                                                    <li><a href="elements.html">인기 식단</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">일지</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">하루 일지</a></li>
                                                    <li><a href="blog_details.html">인기 일지</a></li>
                                                </ul>
                                            </li>
                                            <li><a th:href="@{/wishList}">위시리스트</a></li>
                                            <!-- Button -->
                                            <li class="button-header margin-left "><a th:href="@{/member/login}" class="btn">로그인</a></li>
                                            <li class="button-header"><a th:href="@{/member/addMember}" class="btn btn3">회원가입</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</html>