<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div 	class="container-fluid" 
				style="border: solid 1px; 
				background: #c054ff;
				background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
				background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
				background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c054ff', endColorstr='#5274ff', GradientType=0);">
				
			<ul class="nav nav-tabs" id="myTab" role="tablist" style=" background-color:inherit;">
				
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href=".introduce" role="tab" aria-controls="home" aria-selected="true">운동소개</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href=".section" role="tab" aria-controls="profile" aria-selected="false">커리큘럼짜기</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href=".QnA" role="tab" aria-controls="contact" aria-selected="false">Q n A</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href=".Preview" role="tab" aria-controls="preview" aria-selected="false">미리보기</a>
				</li>
				
			</ul>
			<form th:action="@{/EClassOpenApplyForm}">
				<div class="tab-content" id="myTabContent" style="width: 100%; padding: 10px;">
					<div class="tab-pane fade show active introduce" role="tabpanel" aria-labelledby="home-tab">
					
							<input type="file" multiple="multiple" class="introducefile">
							<textarea rows="20" cols="" style="width: 100%;" placeholder="개설 하려는 클래스를 소개 시켜주세요"></textarea>

					</div>
					<div class="tab-pane fade section" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row" style="padding: 15px;">
							<div class="col-7" id="sectionTitle">
								<div style=" padding: 10px;">
									<input type="text" style="width: 100%;" placeholder="섹션 제목을 정해주세요">
								</div>
								<div class="sectionCurriculum">
									<div class="row" style="padding: 10px;">
										<div class="col-8">
											<div class="row">
												<div class="col-6">
													<input type="text" class="curriculumName" style="width: 100%;" placeholder="커리큘럼 이름을 정해주세요">
												</div>
												<div class="col-6">
													<input type="file">
												</div>
											</div>
										</div>
										<div class="col-4">
											<div>
												<button type="button" class="curriculumAdd btn btn4">커리큘럼 추가</button>
												<button type="button" class="curriculumDle btn btn4">커리큘럼 삭제</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-2" style="padding: 10px;">
								<button type="button" class="titleAdd btn btn4" id="sectionTitleBtn">섹션 추가</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade QnA" role="tabpanel" aria-labelledby="contact-tab">
						<div class="row">
							<div class="col-8">
								<div class="Question&Answer">
									<div class="row">
										<div class="col-12">
											<div style="padding: 10px;">
												<input type="text" style="width: 100%; border: solid 1px;" placeholder="해당클래스에 자주 뭍는 질문을 등록해주세요">
											</div>
											<div class="row" style="padding: 10px;">
												<div class="col-10 offset-1">
													<input type="text" style="width: 100%; border: solid 1px;" placeholder="어떻게 답하실건가요?">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<button type="button" class="questionAdd btn btn4">질답 추가</button>
								<button type="button" class="questionDle btn btn4">질답 삭제</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade Preview" role="tabpanel" aria-labelledby="Preview-tab"style="background-color: #fff;">
						<div class="col-md-10 offset-md-1" style="padding: 15px;">
							개설자가 넣은 클래스 소개란 이미지 또는 글
							<div>
								<img alt="" th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}">
							</div>
						</div>
						<div class="col-md-10 offset-md-1" style="padding: 15px;">
							섹션
							<div>
								커리큘럼
							</div>
						</div>
						<div class="col-md-10 offset-md-1" style="padding: 15px;">
							Q n A
							<div class="col-md-12">
								Q n A 질문란
								<div class="col-md-10 offset-md-1">
									Q n A 답변란
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn">다음</button>
					<button type="submit" class="btn">개설하기</button>
				</div>
			</form>
		</div>
	</th:block>
	<th:block layout:fragment="customBodyScript">
		<script th:src="@{/assets/js/eClassNav.js}"></script>
	</th:block>
</html>