<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		<div class="container-fluid">
			<ul class="nav nav-tabs" 
				id="myTab"
				role="tablist"
				style="	background: #c054ff;
						background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
						background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
						background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c054ff', endColorstr='#5274ff', GradientType=0); ">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href=".introduce" role="tab" aria-controls="home" aria-selected="true">운동소개</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href=".section" role="tab" aria-controls="profile" aria-selected="false">커리큘럼짜기</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href=".QnA" role="tab" aria-controls="contact" aria-selected="false">Q n A</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent" style="width: 100%; padding: 10px;">
				<form th:action="${eClassOpenApplyForm}">
					<div class="tab-pane fade show active introduce" role="tabpanel" aria-labelledby="home-tab">
						<input type="file" multiple="multiple">
						<textarea rows="20" cols="" style="width: 100%;"></textarea>
					</div>
					<div class="tab-pane fade section" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row" style="padding: 15px;">
							<div class="col-10">
								<div style=" padding: 10px;">
									<input type="text" class="sectionTitle" style="width: 100%;">
								</div>
								<div class="sectionCurriculum">
									<div class="row" style="padding: 10px;">
										<div class="col-8 curriculum">
											<div class="row">
												<div class="col-6">
													<input type="text" style="width: 100%;">
												</div>
												<div class="col-6">
													<input type="file">
												</div>
											</div>
										</div>
										<div class="col-4">
											<div>
												<button type="button" class="curriculumAdd btn btn4">커리큘럼 추가</button>
												<button type="button" class="curriculumDle btn btn4">커리큘럼 삭제</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-2" style="padding: 10px;">
								<button type="button" class="titleAdd btn btn4">섹션 추가</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade QnA" role="tabpanel" aria-labelledby="contact-tab">
						<div class="row">
							<div class="col-8">
								<div class="Question&Answer">
									<div class="row">
										<div class="col-12">
											<div style="padding: 10px;">
												<input type="text" style="width: 100%; border: solid 1px;" placeholder="해당클래스에 자주 뭍는 질문을 등록해주세요">
											</div>
											<div class="row" style="padding: 10px;">
												<div class="col-10 offset-1">
													<input type="text" style="width: 100%; border: solid 1px;" placeholder="어떻게 답하실건가요?">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<button type="button" class="questionAdd btn btn4">질답 추가</button>
								<button type="button" class="questionDle btn btn4">질답 삭제</button>
							</div>
						</div>
					</div>
				</form>
				<button type="submit" class="btn btn4">개설하기</button>
			</div>
		</div>
	</th:block>
</html>