<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		개설 승인된 운동클래스 리스트
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100px"height="100px">승인된 클래스 1</div>
				<div class="col-md-4"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100px"height="100px">승인된 클래스 2</div>
				<div class="col-md-4"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100px"height="100px">승인된 클래스 3</div>
				<div class="col-md-4"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100px"height="100px">승인된 클래스 1</div>
				<div class="col-md-4"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100px"height="100px">승인된 클래스 2</div>
				<div class="col-md-4"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="100px"height="100px">승인된 클래스 3</div>
			</div>
		</div>
	</th:block>
	
	
</html>