<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/userdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div class="container-fluid" 
			 style=" height: 800px;
			 		background: #c054ff;
					background: -moz-linear-gradient(top, #c054ff 0%, #5274ff 100%);
					background: -webkit-linear-gradient(top, #c054ff 0%, #5274ff 100%);
					background: linear-gradient(to bottom, #c054ff 0%, #5274ff 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c054ff', endColorstr='#5274ff', GradientType=0); ">
			<div class="row introduceBox" style="padding: 10px 10px;">
				<div class="col-12">
					<div class="row">
						<div class="col-3" style="padding: 10px 10px;">
							<select name="eClassCategoryLargeCode" id="eClassCategoryLargeCode">
								<option> :::: </option>
								<th:block th:if="${not #lists.isEmpty(eClassCategoryList)}" th:each="eccl : ${eClassCategoryList}">
									<option th:value = "${eccl.eClassCategoryLargeCode}">[[${eccl.eClassCategoryLargeName}]]</option>
								</th:block>
								<th:block th:nuless="${not #lists.isEmpty(eClassCategoryList)}" th:each="eccl : ${eClassCategoryList}">
									<option>등록된 카테고리가 없습니다.</option>
								</th:block>
							</select>
						</div>
						<div class="col-3" style="padding: 10px 10px;">
							<select name="eClassCategoryMediumCode" id="eClassCategoryMediumCode">
								<option> :::: </option>
							</select>
						</div>
						<div class="col-3" style="padding: 10px 10px;">
							<select name="eClassCategorySmallCode" id="eClassCategorySmallCode">
								<option> :::: </option>
							</select>
						</div>
					</div>
					<form th:action="@{/eClassIntroduce}">
						<div class="col-3" style="padding: 10px 10px;">
							<input type="file" multiple="multiple" class="introducefile" name="introduceImg">
						</div>
						<div class="col-12" style="padding: 10px;">
							<textarea rows="20" cols="" style="width: 100%;" name="eClassIntroduceContent" placeholder="개설 하려는 클래스를 소개 시켜주세요"></textarea>
						</div>
					</form>
				</div>
				<div class="col-4">
					<button type="submit" class="btn introduce">다음으로</button>
				</div>
			</div>
			
			<div class="sectionTitleBox" style="display: none; padding: 10px 10px;">
				<form th:action="@{/eClassSectionTitle}">
					<div class="row">
						<div class="col-9" id="sectionTitle"style=" padding: 10px;">
							<input type="text" style="width: 100%;" id="sectionName" name="sectionName" placeholder="섹션 제목을 정해주세요">
						</div>
						<div class="col-3" style="padding: 10px;">
							<button type="button" class="titleAdd btn btn4" id="sectionTitleBtn">섹션 추가</button>
						</div>
					</div>
				</form>
				<div class="col-4">
					<button type="submit" class="btn sectionTitle">다음으로</button>
				</div>
			</div>
			
			<div class="curriculumBox" style="display: none; padding: 10px 10px;">
				<form th:action="@{/eClassCurriculum}">
					<div class="row">
						<div class="col-7" style="padding: 10px 10px;">
							<input type="text" readonly="readonly" style="width: 100%;" placeholder="DB에서 받아온 섹션">
						</div>
						<div class="col-6" id="sectionCurriculum">
							<div id="sectionCurriculumBox">
								<input type="text" name="curriculum" style="width: 100%;" placeholder="커리큘럼 이름을 정해주세요">
								<input type="file" name="curriculumAddFile">
							</div>
						</div>
						<div class="col-6">
							<button type="button" class="curriculumAdd btn btn4">커리큘럼 추가</button>
							<button type="button" class="curriculumDle btn btn4">커리큘럼 삭제</button>
						</div>
					</div>
				</form>
				<div class="col-4">
					<button type="submit" class="btn curriculum">다음으로</button>
				</div>
			</div>
			
			<div class="questionBox" style="display: none; padding: 10px 10px;">
				<form th:action="@{/eClassQuestion}">
					<div class="row">
						<div class="col-6" id="questionTitle">
							<input type="text" id="questionName" style="width: 100%; border: solid 1px;" name="question" placeholder="자주 묻는 질문을 등록해주세요">
						</div>
						<div class="col-6">
							<button type="button" class="questionAdd btn btn4">질문 추가</button>
							<button type="button" class="questionDle btn btn4">질문 삭제</button>
						</div>
					</div>
				</form>
				<div class="col-4">
					<button type="submit" class="btn question">다음으로</button>
				</div>
			</div>
			
			<div class="answerBox" style="display: none; padding: 10px 10px;">
				<form th:action="@{/eClassAnswer}">
					<div class="row">
						<div class="col-7" style="padding: 10px 10px;">
							<input type="text" style="width: 100%" readonly="readonly" placeholder="DB에서 받아온 질문">
						</div>
						<div class="col-6">
							<input type="text" style="width: 100%; border: solid 1px;" name="answer" placeholder="어떻게 답하실건가요?">
						</div>
					</div>
				</form>
				<div class="col-4">
					<button type="submit" class="btn answer">다음으로</button>
				</div>
			</div>
			
			<div class="applyBox" style="display: none; padding: 10px 10px;">
				<form th:action="@{/eClassPrice}">
					<div class="row">
						<div class="col-6" style="border: solid #fff 1px;">
							<div class="row" style="padding: 15px;">
								<div class="col-6">
									<h5 style="color: #fff">수강생 모집 시작 날짜</h5>
								</div>
								<div class="col-6">
									<input type="date" style="width: 100%" name="eClassApprovedStratDate">
								</div>
							</div>
						</div>
						<div class="col-6" style="border: solid #fff 1px;">
							<div class="row" style="padding: 15px;">
								<div class="col-6">
									<h5 style="color: #fff">수강생 모집 종료 날짜</h5>
								</div>
								<div class="col-6">
									<input type="date" style="width: 100%" name="eClassApprovedEndDate">
								</div>
							</div>
						</div>
						<div class="col-12" style="padding: 15px;">
							<div class="row" style="padding-top: 5px; border: solid #fff 1px;">
								<div class="col-2">
									<h5 style="color: #fff; padding: 5px;"> 참가 인원 </h5>
								</div>
								<div class="col-4 offset-md-1">
									<div class="row">
										<div class="col-6">
											<input type="number" style="width: 100%;" name="eClassApprovedStudent" placeholder="최소 참가 인원">
										</div>
										<div class="col-6" style="padding: 5px;">
											<h6 style="color: #fff; padding: 5px;">명</h6>
										</div>
									</div>
								</div>
								<div class="col-4 offset-md-1">
									<div class="row">
										<div class="col-6">
											<input type="number" style="width: 100%;" name="eClassApprovedMaxStudent" placeholder="최대 참가 인원">
										</div>
										<div class="col-6" style="padding: 5px;">
											<h6 style="color: #fff; padding: 5px;">명</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-6" style="border: solid #fff 1px;">
									<div class="row">
										<div class="col-6">
											<input type="number" style="width: 100%; padding: 5px;" name="eClassApprovedSetDate" placeholder="커리큘럼 진행 기간일">
										</div>
										<div class="col-6" style="padding: 5px;">
											<h6 style="color: #fff;">일</h6>
										</div>
									</div>
								</div>
								<div class="col-6" style="border: solid #fff 1px;">
									<div class="row">
										<div class="col-6">
											<input type="number" style="width: 100%; padding: 5px;" name="eClassOpenApplyPrice" placeholder="가격을 정해주세요">
										</div>
										<div class="col-6" style="padding: 5px;">
											<h6 style="color: #fff;">원</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12" style="height: 100px; margin: 15px">
							<input style="height: 80%; width: 100%; font-size: 50px; text-align: center;" placeholder="클래스 이름을 정해주세요">
						</div>
					</div>
				</form>
				<div style="padding: 10px;">
					<button type="submit" class="btn apply">개설하기</button>
				</div>
			</div>
			
		</div>
	</th:block>
	<th:block layout:fragment="customBodyScript">
		<script th:src="@{/assets/js/eClassNav.js}"></script>
	</th:block>
</html>