<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mypagedefault}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<!-- 사용자 정의 Css -->
<th:block layout:fragment="customCss">
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/mediaelementplayer.css}" />
	
	<style type="text/css">
		.a11y {
			display: none;
		}
		.myClassTapLabel {
			padding: 0.8rem 1.2rem;
		    border-radius: 2rem;
		    background-color: #f8f8fa;
		    font-weight: bold;
		    color: #9b9ba0;
		    cursor: pointer;
		    margin-right: 10px;
		}
		.myClassTapLabel:hover {
			background-color: rgba(0,0,0,0.1);
		}
		.myClassTapLabel.active {
			background-color: #9b5fff;
			color: #fff;
		}
		.panel-heading{
			display: flex;
			padding: 15px;
		}
		.myClassPanel > .panel-heading {
			height: 150px;
			padding: 0;
		}
		.myClassPanel img {
			width: 100%;
			height: 100%
		}
	</style>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-md-12">
		<div class="panel">
			<!-- 패널 헤더-->
			<div class="panel-heading bg-white border-none">
				<div class="myClassTap">
					<input type="radio" name="myClassTapRadio" id="me-course-all" value="전체 목록" class="a11y" checked>
					<label for="me-course-all" class="myClassTapLabel active">전체 목록</label>
				</div>
				<div class="myClassTap">
					<input type="radio" name="myClassTapRadio" id="me-course-ready" value="수강중" class="a11y">
					<label for="me-course-ready" class="myClassTapLabel">수강중</label>
				</div>
				<div class="myClassTap">
					<input type="radio" name="myClassTapRadio" id="me-course-graduated" value="수강완료" class="a11y">
					<label for="me-course-graduated" class="myClassTapLabel">수강 완료</label>
				</div>
			</div>
			
			<!-- 패널 바디 -->
			<div class="panel-body">
			
				<div class="col-sm-6">
                     <div class="panel myClassPanel box-v1">
                       <div class="panel-heading bg-white border-none">
                       		<img th:src="@{/assets/img/gallery/featured1.png}">
                       </div>
                       <div class="panel-body">
                         <h4><a th:href="@{/}">운동클래스이름 <i class="fa fa-external-link"></i></a></h4>
                         <p>강사명 : <span>홍길동</span></p>
                         <p>수강기간 : <span>2022/04/00 ~ 2022/07/00</span></p>
                         <p>상태 : <span>수강중</span></p>
                       </div>
                     </div>
                 </div>
                 
                 <div class="col-sm-6">
                     <div class="panel myClassPanel box-v1">
                       <div class="panel-heading bg-white border-none">
                       		<img th:src="@{/assets/img/gallery/featured1.png}">
                       </div>
                       <div class="panel-body">
                         <h4><a th:href="@{/}">운동클래스이름 <i class="fa fa-external-link"></i></a></h4>
                         <p>강사명 : <span>홍길동</span></p>
                         <p>수강기간 : <span>2022/01/00 ~ 2022/04/00</span></p>
                         <p>상태 : <span>수강완료</span></p>
                       </div>
                     </div>
                 </div>
                 
                 <div class="col-sm-6">
                     <div class="panel myClassPanel box-v1">
                       <div class="panel-heading bg-white border-none">
                       		<img th:src="@{/assets/img/gallery/featured1.png}">
                       </div>
                       <div class="panel-body">
                         <h4><a th:href="@{/}">운동클래스이름 <i class="fa fa-external-link"></i></a></h4>
                         <p>강사명 : <span>홍길동</span></p>
                         <p>수강기간 : <span>2021/12/00 ~ 2022/03/00</span></p>
                         <p>상태 : <span>수강완료</span></p>
                       </div>
                     </div>
                 </div>
                
			</div>
			
		</div>
	</div>

</th:block>

<th:block layout:fragment="customBodyScript">

	<!-- plugins -->
	<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
	<script th:src="@{/asset/js/plugins/jquery.dataTables.min.js}"></script>
	<script th:src="@{/asset/js/plugins/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>

	<!-- custom -->
	<script th:src="@{/asset/js/main.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
			/*탭 카테고리*/
			$('.a11y').click(function(){
				if($(this).prop('checked') == true){
					$(this).parents('.panel-heading').find('.myClassTapLabel').removeClass('active');
					$(this).parent().find('.myClassTapLabel').addClass('active'); 
				}
			});
		});
	</script>
</th:block>
</html>