<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/eclassdefault}">
	<!-- 사용자 정의 title -->
	<th:block layout:fragment="customTitle">
		<title th:text="${title}"></title>
	</th:block>
	
	<th:block layout:fragment="customContents">
		사용자가 신청한 운동클래스 리스트 및 상태
		<div class="container-fluid">
			<th:block th:if="${not #lists.isEmpty(eClassOpenAppleyList)" th:each="applyList : ${eClassOpenAppleyList}">
				<div class="row">
					<div class="col-md-4" style="border: solid #aa00cc 1px; ">
						<div class="properties properties2 mb-30">
							<div class="properties__card">
								<div class="properties__img overlay1">
									<a th:href="@{/eClassApproved}"><img th:src="@{/asset/img/01_모코코콘1_07_멘탈X.png}" width="250px"height="400px" alt="승인된 클래스의 미리보기 이미지"></a>
								</div>
								<div class="">
									<h3><a th:href="@{/eClassApproved}">[[@{applyList.eClassOpenAppleyName}]]</a></h3>
									<p>[[@{applyList.eClassIntroduceContent}]] </p>
									<div class="row">
										<div class="price col-md-8">
											<input 	type="number"
													th:value="@{applyList.eClassOpenAppleyPrice}"
													disabled="disabled"
													style="	text-align: center;
															border: none;
													        opacity: 1;
													        width: 70px;">
											<span>원</span>
										</div>
										<div class="col-md-4" style="width: 100%;">
											<div class="col-md-12" style="background-color: #f00; height: 30px;padding-top: 5px;">
												<span style="color: #0abeac">반려됨</span>
											</div>
											<div class="col-md-12" style="background-color: #808080; height: 30px;padding-top: 5px;">
												<span style="color: #fff">심사중</span>
											</div>
											<div class="col-md-12" style="background-color:  #00f; height: 30px;padding-top: 5px;">
												<span style="color: #fff">승인</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
			<th:block th:unless="${not #lists.isEmpty(eClassOpenAppleyList)}" th:each="applyList : ${eClassOpenAppleyList}">
				신청한 운동클래스가 없습니다.
			</th:block>
		</div>
	</th:block>
		<th:block layout:fragment="customBodyScript">	
		<!-- plugins -->
		<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.datatables.min.js}"></script>
		<script th:src="@{/asset/js/plugins/datatables.bootstrap.min.js}"></script>
		<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
		
		
		<!-- custom -->
		<script th:src="@{/asset/js/main.js}"></script>
		<script type="text/javascript">
		  $(document).ready(function(){
		    //$('#datatables-example').DataTable();
		  });
		</script>
<!-- end: Javascript -->
	</th:block>
</html>