<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aihometraining.team.challengeConfig.mapper.ChallengeConfigMapper">

	<resultMap type="ChallengeCategory" id="challengeCategoryResultMap">
		<result column="challengeCategoryCode" property="challengeCategoryCode"/>
		<result column="challengeCategoryName" property="challengeCategoryName"/>
		<result column="challengeCategoryRegDate" property="challengeCategoryRegDate"/>
		<result column="eClassCategorySmall" property="eClassCategorySmall"/>
		<result column="memberUpdateEmail" property="memberUpdateEmail"/>
		<result column="memberUpdateDate" property="memberUpdateDate"/>
		
		<association property="member" javaType="Member">
			<id column="memberEmail" property="memberEmail"/>
		</association>
	
	</resultMap>
	<select id="getChallengeCategoryList" parameterType="map" resultMap="challengeCategoryResultMap">
		/*챌린지 카테고리 조회*/
		SELECT 
			 m.memberEmail
			,ch.challengeCategoryName
			,ch.challengeCategoryRegDate
			,ch.eClassCategorySmall
			,ch.memberUpdateEmail
			,ch.memberUpdateDate
		FROM 
			challengecategory AS ch
			INNER join
			member AS m
			on
			ch.memberEmail = m.memberEmail
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="memberEmail != null and memberEmail != ''">
				ch.memberEmail = #{memberEmail}
			</if>
		</trim>
		;	
	</select>
</mapper>	
	
  