<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aihometraining.team.mapper.EClassCategoryMapper">

	<resultMap type="EClassCategoryLarge" id="eClassCategoryResultMap">
		<id 	column="eClassCategoryLargeCode" 				property="eClassCategoryLargeCode"/>
		<result column="eClassCategoryLargeName" 				property="eClassCategoryLargeName"/>
		<result column="eClassCategoryLargeRegEmail" 			property="eClassCategoryLargeRegEmail"/>
		<result column="eClassCategoryLargeRegDate" 			property="eClassCategoryLargeRegDate"/>
		<result column="eClassCategoryLargeUpdateDate" 			property="eClassCategoryLargeUpdateDate"/>
		<result column="eClassCategoryLargeUpdateEmail" 		property="eClassCategoryLargeUpdateEmail"/>
	</resultMap>
	
	<select id="getMemberList" parameterType="String" resultMap="memberResultMap" fetchSize="1000">
		/* 운동 클래스 카테고리 조회 */
		SELECT 
			 l.eClassCategoryLargeCode
			,l.eClassCategoryLargeName
			,l.eClassCategoryLargeRegEmail
			,l.eClassCategoryLargeRegDate
			,l.eClassCategoryLargeUpdateDate
			,l.eClassCategoryLargeUpdateEmail
		FROM 
			eclasscategorylarge AS l;
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchKey != null and searchKey != '' and searchValue != ''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%')
			</if>
		</trim>;
	</select>
</mapper>