<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aihometraining.team.mapper.PaymentMapper">

	<resultMap type="Member" id="memberResultMap">
		<id 	column="memberEmail" 			property="memberEmail"/>
		<result column="memberPw" 				property="memberPw"/>
		<result column="memberLevelCode" 		property="memberLevelCode"/>
		<result column="memberNewsAgree" 		property="memberNewsAgree"/>
		<result column="memberRegDate" 			property="memberRegDate"/>
		<result column="memberName" 			property="memberName"/>
		<result column="memberPhone"	 		property="memberPhone"/>
		<result column="memberNickname" 		property="memberNickname"/>
		<result column="memberBirthday" 		property="memberBirthday"/>
		<result column="memberGender" 			property="memberGender"/>
		<result column="memberRecommendEmail" 	property="memberRecommendEmail"/>
		<result column="memberFinalPoint" 		property="memberFinalPoint"/>
	</resultMap>

	<resultMap type="EClassOpenApplyForm" id="eClassOpenApplyResultMap">
		<id 	column="eClassOpenAppleyCode" 			property="eClassOpenAppleyCode"/>
		<result column="eClassOpenAppleyPrice" 			property="eClassOpenApplyPrice"/>
		<association property="eClassCategorySmall" javaType="EClassCategorySmall">
			<id 	column="eClassCategorySmallCode" 	property="eClassCategorySmallCode"/>
			<result column="eClassCategorySmallName" 	property="eClassCategorySmallName"/>
			<result column="eClassCategoryMediumName" 	property="eClassCategoryMediumName"/>
			<result column="eClassCategoryLargeName" 	property="eClassCategoryLargeName"/>
		</association>
		<association property="eClassIntroduce" javaType="EClassIntroduce">
			<id 	column="eClassIntroduceCode" 	property="eClassIntroduceCode"/>
			<result column="eClassIntroduceContent" 	property="eClassIntroduceContent"/>
			<result column="eClassIntroduceImg" 	property="eClassIntroduceImg"/>
		</association>
	</resultMap>
	
	<resultMap type="EClassApproved" id="eClassApprovedResultMap">
		<id 	column="eClassApprovedCode" 			property="eClassApprovedCode"/>
		<result column="eClassApprovedName" 		property="eClassApprovedName"/>
		<result column="eClassApprovedFinish" 		property="eClassApprovedFinish"/>
		<collection property="member" resultMap="memberResultMap"/>
		<collection property="eClassOpenApplyForm" resultMap="eClassOpenApplyResultMap"/>
	</resultMap>

	<resultMap type="WishList" id="wishListResultMap">
		<id 	column="wishListCode" 			property="wishListCode"/>
		<result column="wishListRegDate" 		property="wishListRegDate"/>
		<collection property="member" resultMap="memberResultMap"/>
		<collection property="eClassApproved" resultMap="eClassApprovedResultMap"/>
	</resultMap>
	
	<select id="getWishList" parameterType="String" resultMap="wishListResultMap" fetchSize="1000">
		SELECT
			wi.memberEmail
			,wi.wishListCode
			,ea.eClassApprovedName
			,eo.eClassOpenAppleyPrice
			,ei.eClassIntroduceContent
			,ei.eClassIntroduceImg
			,ec.eClassCategoryMediumName
			,ec.eClassCategorySmallName
		FROM
			wishlist AS wi
			INNER JOIN 
			eclassapproved AS ea
			ON 
			wi.eClassApprovedCode = ea.eClassApprovedCode
			INNER JOIN 
			eclassopenappley AS eo
			ON 
			ea.eClassOpenApplyCode = eo.eClassOpenAppleyCode 
			INNER JOIN 
			eclasscategorysmall AS ec
			ON 
			eo.eClassCategorySmallCode = ec.eClassCategorySmallCode
			INNER JOIN 
			eclassintroduce AS ei
			ON 
			eo.eClassIntroduceCode = ei.eClassIntroduceCode
		WHERE
			wi.memberEmail = #{SEMAIL}
		ORDER BY ${sortStandard};
	</select>
	
	<select id="getEClassTakeMember" parameterType="String" resultMap="memberResultMap" fetchSize="1000">
		/*수강신청 회원 정보 조회*/
		SELECT
			 memberEmail
			,memberName
		FROM
			member
		WHERE
			memberEmail = #{memberEmail};
	</select>
	
	<select id="getEClassApproved" parameterType="String" resultMap="eClassApprovedResultMap" fetchSize="1000">
		/*수강신청 운동클래스 정보 조회*/
		SELECT
			 ea.eClassApprovedName
			,m.memberName
			,eo.eClassOpenAppleyPrice
		FROM
			eclassapproved AS ea
			INNER JOIN 
			eclassopenappley AS eo
			ON 
			ea.eClassOpenApplyCode = eo.eClassOpenAppleyCode
			INNER JOIN
			member AS m
			ON 
			m.memberEmail = ea.memberEmail
		WHERE
			ea.eClassApprovedCode = #{eClassCode};
	</select>
	
	<delete id="deleteWishList" parameterType="String">
		/* 위시리스트 삭제 */
		DELETE
		FROM
			wishlist
		WHERE
			wishListCode = #{wishListCode};
	</delete>
</mapper>