<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
	<mapper namespace="aihometraining.team.workoutLog.mapper.WorkoutLogUserMapper">
	<resultMap type="WorkoutGoal" id="WorkoutGoalResultMap">
			<id		column="workoutGoalCode" 		property="workoutGoalCode"/>
			<result column="memberEmail" 			property="memberEmail"/>
			<result column="workoutGoalContent" 	property="workoutGoalContent"/>
			<result column="workoutGoalStartDate" 	property="workoutGoalStartDate"/>
			<result column="workoutGoalEndDate" 	property="workoutGoalEndDate"/>
			<result column="workoutGoalUpdateDate" 	property="workoutGoalUpdateDate"/>
			<result column="memberUpdateEmail" 		property="memberUpdateEmail"/>
			
		<association property="member" javaType="Member">
			<id 	column="memberEmail" property="memberEmail"/>
		</association>	
	</resultMap>
		
	<resultMap type="WorkoutLogPrivacybounds" id="WorkoutLogPrivacyboundsResultMap">	
			<id 	column="workoutLogPrivacyBoundsCode" 		property="workoutLogPrivacyBoundsCode"/>
			<result column="workoutLogPrivacyBoundsContent" 	property="workoutLogPrivacyBoundsContent"/>
	</resultMap>
	
	<resultMap type="EClassCategoryLarge" id="EClassCategoryLargeResultMap">
			<id 	column="eClassCategoryLargeCode" 			property="eClassCategoryLargeCode"/>
			<result column="eClassCategoryLargeName" 			property="eClassCategoryLargeName"/>
			<result column="eClassCategoryLargeRegEmail" 		property="eClassCategoryLargeRegEmail"/>
			<result column="eClassCategoryLargeRegDate" 		property="eClassCategoryLargeRegDate"/>
			<result column="eClassCategoryLargeUpdateDate" 		property="eClassCategoryLargeUpdateDate"/>
			<result column="eClassCategoryLargeUpdateEmail" 	property="eClassCategoryLargeUpdateEmail"/>
	</resultMap>
	
	<resultMap type="EClassCategoryMedium" id="EClassCategoryMediumResultMap">
			<id 	column="eClassCategoryMediumCode" 			property="eClassCategoryMediumCode"/>
			<result column="eClassCategoryMediumName" 			property="eClassCategoryMediumName"/>
			<result column="eClassCategoryLargeCode" 			property="eClassCategoryLargeCode"/>
			<result column="eClassCategoryLargeName" 			property="eClassCategoryLargeName"/>
			<result column="memberEmail" 						property="memberEmail"/>
			<result column="eClassCategoryMediumRegDate" 		property="eClassCategoryMediumRegDate"/>
			<result column="memberUpdateEmail" 					property="memberUpdateEmail"/>
			<result column="eClassCategoryMediumUpdateDate" 	property="eClassCategoryMediumUpdateDate"/>
	</resultMap>
	
	<resultMap type="EClassCategorySmall" id="EClassCategorySmallResultMap">	
			<id 	column="eClassCategorySmallCode" 				property="eClassCategorySmallCode"/>
			<result column="eClassCategorySmallName" 				property="eClassCategorySmallName"/>
			<result column="eClassCategoryMediumCode" 				property="eClassCategoryMediumCode"/>
			<result column="eClassCategoryMediumName" 				property="eClassCategoryMediumName"/>
			<result column="eClassCategoryLargeCode" 				property="eClassCategoryLargeCode"/>
			<result column="eClassCategoryLargeName" 				property="eClassCategoryLargeName"/>
			<result column="memberEmail" 							property="memberEmail"/>
			<result column="eClassCategorySmallRegDate" 			property="eClassCategorySmallRegDate"/>
			<result column="updateMemberEmail" 						property="updateMemberEmail"/>
			<result column="eClassCategorySmallFinalUpdateDate" 	property="eClassCategorySmallFinalUpdateDate"/>
	</resultMap>
	
	<resultMap type="WorkoutLog" id="WorkoutLogResultMap">
			<id 	column="workoutLogcode" 				property="workoutLogcode"/>
			<result column="memberEmail" 					property="memberEmail"/>
			<result column="eClassCategorySmallCode" 		property="eClassCategorySmallCode"/>
			<result column="eClassCategorySmallName" 		property="eClassCategorySmallName"/>
			<result column="workoutLogTitle" 				property="workoutLogTitle"/>
			<result column="workoutLogContent" 				property="workoutLogContent"/>
			<result column="workoutGoalPlanCode" 			property="workoutGoalPlanCode"/>
			<result column="eClassTaskDoCode" 				property="eClassTaskDoCode"/>
			<result column="challengeEnterCode" 			property="challengeEnterCode"/>
			<result column="workoutLogAddFileCode" 			property="workoutLogAddFileCode"/>
			<result column="workoutLogPrivacyBoundsCode" 	property="workoutLogPrivacyBoundsCode"/>
			<result column="workoutLogUpdateEmail" 			property="workoutLogUpdateEmail"/>
			<result column="workoutLogDeleteEmail" 			property="workoutLogDeleteEmail"/>
	</resultMap>
	
		
		<select id="getworkoutGoalList" resultMap="WorkoutGoalResultMap">
			/* 운동 계획 목록 조회*/
			SELECT
				 m.memberEmail
				,w.workoutGoalContent
				,w.workoutGoalStartDate
				,w.workoutGoalEndDate
			FROM
				workoutgoal AS w
				JOIN 
				member AS m
				ON 
				w.memberEmail = m.memberEmail
			WHERE
				w.memberEmail = 'id004@email.com';
		</select>
		
		<select id="getworkoutLogPrivacyboundsList" resultMap="WorkoutLogPrivacyboundsResultMap">
			/* 일지 공개범위 목록 조회*/
			SELECT 
				 wp.workoutLogPrivacyBoundsCode
				,wp.workoutLogPrivacyBoundsContent
			FROM
				workoutlogprivacybounds AS wp;
		</select>
		
		<select id="geteClassCategoryLargeList" resultMap="EClassCategoryLargeResultMap">
			/* 운동클래스카테고리large 조회 */
			SELECT
				 ec.eClassCategoryLargeCode
				,ec.eClassCategoryLargeName
			FROM
				eclasscategorylarge AS ec;
		</select>
		
		<select id="geteClassCategoryMedium" resultMap="EClassCategoryMediumResultMap" parameterType="String">
			/* 운동클래스 카테고리 Medium 조회 */
			SELECT
				 em.eClassCategoryMediumCode
				,em.eClassCategoryMediumName
			FROM
				eclasscategorymedium AS em
			Where
				em.eClassCategoryLargeCode = #{eClassCategoryLargeCode};	
		</select>
		
		<insert id="workoutLogInsert" parameterType="workoutLog">
			/* 일지 등록 처리 */
			INSERT INTO workoutlog
			(	 workoutLogcode
				,memberEmail
				,eClassCategorySmallCode
				,eClassCategorySmallName
				,workoutLogTitle
				,workoutLogContent
				,workoutGoalPlanCode
				,eClassTaskDoCode
				,challengeEnterCode
				,workoutLogAddFileCode
				,workoutLogPrivacyBoundsCode
				,workoutLogUpdateEmail
				,workoutLogUpdateFinalDate
				,workoutLogDeleteEmail
			)VALUES (
			 	 #{workoutLogcode}
			 	,#{memberEmail}
			 	,#{eClassCategorySmallCode}
			 	,#{eClassCategorySmallName}
			 	,#{workoutLogTitle}
			 	,#{workoutLogContent}
			 	,#{workoutGoalPlanCode}
			 	,#{eClassTaskDoCode}
			 	,#{challengeEnterCode}
			 	,#{workoutLogAddFileCode}
			 	,#{workoutLogPrivacyBoundsCode}
			 	,#{workoutLogUpdateEmail}
			 	,NOW()
			 	,#{workoutLogDeleteEmail}
			);
		
		
		
		
		</insert>
	
	</mapper>