<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypagedefault}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<!-- 사용자 정의 Css -->
<th:block layout:fragment="customCss">
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/mediaelementplayer.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/daterangepicker.css}" />
	
	<style type="text/css">
		.panel-heading {
			padding: 15px;
			padding-bottom: 0;
		}
		
		.searchDate input {
			height: 33px;
			width: 150px;
		}
		.panel-heading>h4 {
			font-weight: bold;
			margin-top: 40px;
			margin-bottom: 0;
			border-bottom: 2px solid #58666e;
			padding-bottom: 5px;
		}
		.ranges {
			margin-top: 0 !important;
		}
		.ranges ul {
			width: 100% !important;
		}
		.ranges ul li {
			float:left;
		}
		.searchDate span{
			cursor: pointer;
		}
		.searchForm {
			background-color: #fff;
			border: 5px solid #e8e8e8;
			padding: 20px 0;
			margin: 0 20px;
			padding-left: 20px;
			
		}
		.searchForm  .form-group {
			margin-right: 20px;
		}
		#paymentInfo {
			 padding-inline-start: 25px;
			 margin-top: 20px;
		}
		#paymentInfo li {
			 list-style: disc;
		}
		#paymentList tbody td {
			vertical-align: middle;
		}
		.sangseTextarea {
			height: 100px;
		    width: 100%;
		}
		.modal-title {
			font-weight: bold;
		}
		.modal-body .formTitle {
			border-bottom: 1px solid #918c8c;
		    margin: 0 20px;
		    margin-bottom: 10px;
		}
		.modal-body .formTitle p {
			font-size: 16px;
			font-weight: 550;
			margin-bottom: 5px;
		}
		.rnaowjdqhInput {
			border: none !important;
			height: 20px;
			width: 100%;
			font-weight: bold;
		}
		#refundApplyForm .form-group {
			margin-bottom: 10px;
		}
		#refundApplyForm .form-group:nth-child(3) {
			margin-bottom: 20px;
		}
		#refundApplyForm .form-group:nth-child(6) {
			margin-bottom: 20px;
		}
		
		#refundApplyForm input[type="text"]{
			width: 100%;
			height: 34px;
		}
		#refundApplyForm label {
			margin-bottom: 0;
			margin-top: 7px;
		}
		#refundApplyBtn {
			margin-top: 20px;
			width: 100% !important;
		}
	</style>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-md-12">
		<div class="panel">
			<!-- 패널 헤더 타이틀 -->
			<div class="panel-heading bg-white border-none">
				<div class="well" >
					<form class="searchForm form-inline row">
						<div class="form-group">
							<select class="select2-A">
								<option data-column="1">전체 결제상태</option>
								<option data-column="2">결제대기</option>
								<option data-column="3">결제완료</option>
								<option data-column="3">결제취소</option>
							</select>
						</div>
						<div class="form-group searchDate">
	                        <!-- 데이터피커 -->
	                        <span class="fa fa-calendar"></span>
							<input type="text" class="startDate" name="datefilter" />
							-
							<input type="text" class="endDate" name="datefilter"/>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-gradient btn-primary ">
								검색 <span class="fa fa-search"></span>
							</button>
						</div>
					</form>
					<ul id="paymentInfo" class="list">
						<li>기본적으로 최근 3개월간의 내역이 조회되며, 기간 검색시 결제완료 후 36개월 이내의 주문내역을 조회하실 수 있습니다.</li>
						<li>결제완료 후 36개월 이상 경과한 거래 내역은 고객센터에서 문의를 통해 확인하실 수 있습니다.</li>
						<li>거래코드를 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.</li>
						<li>결제취소/환불 신청은 결제 기준 7일까지 가능합니다.</li>
					</ul>
				</div>
				<h4>
					<span class="icon-credit-card icons"></span> 결제 상품 정보
				</h4>
			</div>

			<div class="panel-body">
				<!-- 데이터 테이블 -->
				<div class="responsive-table">
					<table id="paymentList" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>결제일자<br>/결제코드</th>
								<th>상품정보</th>
								<th>결제금액</th>
								<th>상태</th>
								<th>취소/환불</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p>2022-03-23</p>
									<p><a th:href="@{/mypage/mypaymentList/paymentDetail(paymentCode=)}">e20220323_00001</a></p>
								</td>
								<!-- (paymentCode=${l.paymentCode}) -->
								<td>운동클래스운동클래스운동클래스운동클래스운동클래스</td>
								<td>137,500</td>
								<td><span class="label label-success">결제완료</span></td>
								<td><input type="button" class="btn btn-outline btn-default refundBtn" value="신청"></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
<!-- 환불 신청 모달 -->
<div id="refundModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">환불 신청하기</h4>
            </div>
			<div class="modal-body">
				<form id="refundApplyForm" class="row">
					<div class="form-group formTitle">
						<p>결제정보</p>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label text-right">결제코드</label>
                             <div class="col-sm-8">
	                               <div class="col-sm-12 padding-0">
	                                 <input type="text" class="rnaowjdqhInput" readonly value="e20220407_00001">
	                               </div>
                             </div>
                   	</div>
                   	<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label text-right">주문상품</label>
                             <div class="col-sm-8">
	                               <div class="col-sm-12 padding-0">
	                                 <input type="text" class="rnaowjdqhInput" readonly value="운동클래스 이름">
	                               </div>
                             </div>
                   	</div>
                   	
                   	
					<div class="form-group formTitle">
						<p>취소사유</p>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label text-right">사유 선택</label>
                             <div class="col-sm-8">
                               <div class="col-sm-12 padding-0">
                                 <select class="form-control">
                                   <option>option one</option>
                                   <option>option two</option>
                                   <option>option three</option>
                                   <option>option four</option>
                                 </select>
                               </div>
                             </div>
                   	</div>
                   	<div class="form-group col-sm-12">
                   		<label class="col-sm-3 control-label text-right">상세 내용</label>
                        <div class="col-sm-8">
                        	<textarea class="sangseTextarea"></textarea>
						</div>
                    </div>
                    
                    
                    <div class="form-group formTitle">
						<p>환불계좌 입력</p>
					</div>
					<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label text-right">은행명</label>
                             <div class="col-sm-8">
	                               <div class="col-sm-12 padding-0">
	                                 <input type="text">
	                               </div>
                             </div>
                   	</div>
                   	<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label text-right">계좌번호</label>
                             <div class="col-sm-8">
	                               <div class="col-sm-12 padding-0">
	                                 <input type="text">
	                               </div>
                             </div>
                   	</div>
                   	<div class="form-group col-sm-12">
						<label class="col-sm-3 control-label text-right">예금주</label>
                             <div class="col-sm-8">
	                               <div class="col-sm-12 padding-0">
	                                 <input type="text">
	                               </div>
                             </div>
                   	</div>
                   	
                   	<div class="form-group col-sm-12">
                        <button id="refundApplyBtn" class="btn-flip btn btn-gradient btn-primary btn-block" data-dismiss="modal">
                          <div class="flip">
	                            <div class="side">
	                              신청하기</span>
	                            </div>
	                            <div class="side back">
	                              <span class="fa fa-check" style="font-size:2em;"></span>
	                            </div>
                          </div>
                          <span class="icon"></span>
                        </button>
                   	</div>
				</form>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">신청</button>
			</div> -->
		</div>
	</div>
</div>

</th:block>

<th:block layout:fragment="customBodyScript">

	<!-- plugins -->
	<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
	<script th:src="@{/asset/js/plugins/jquery.dataTables.min.js}"></script>
	<script th:src="@{/asset/js/plugins/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
	<script th:src="@{/asset/js/plugins/daterangepicker.min.js}"></script>

	<!-- custom -->
	<script th:src="@{/asset/js/main.js}"></script>
	<script type="text/javascript">
		/*환불 신청 모달*/
		$('.refundBtn').on('click', function() {
			$('#refundModal').modal('show');
		});
			
		$(document).ready(function() {
			/*데이터피커*/
			var startDate = moment().subtract(3, 'month');
			var endDate = moment();
			
			 $('.startDate').val(startDate.format('YYYY/MM/DD'));
		     $('.endDate').val(endDate.format('YYYY/MM/DD'));
		    
		     
		    $('.searchDate').daterangepicker({
		        autoUpdateInput: true,
		        locale: {
		            cancelLabel: '취소',
		            applyLabel : '완료',
			        daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
			        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
		        },
		        maxDate: endDate,
		        minDate: moment().subtract(36, 'month'),
		        startDate: startDate,
		        endDate: endDate,
		        format: 'YYYY/MM/DD',
		        ranges: {
		            '오늘': [moment(), moment()],
		            '1주일': [moment().subtract(6, 'days'), moment()],
		            '1개월': [moment().subtract(1, 'month'), moment()],
		            '3개월': [moment().subtract(3, 'month'), moment()],
		            '6개월': [moment().subtract(6, 'month'), moment()]
		        },
		         "alwaysShowCalendars": true,
		         "showCustomRangeLabel": false,
		    });
		    
		    $('.ranges').prependTo('.drp-buttons');
		    $('.ranges li').addClass("btn btn-round");
		    
			/*완료 버튼*/
		   $('.searchDate').on('apply.daterangepicker', function(ev, picker) {
		        $('.startDate').val(picker.startDate.format('YYYY/MM/DD'));
		        $('.endDate').val(picker.endDate.format('YYYY/MM/DD'));
		    });
			
			
		    $('span.drp-selected').remove();
		    
		  			
			/* 데이터 테이블 생성*/
			var table = $('#paymentList').DataTable({
				order : [ 0, 'desc' ],
				lengthChange : false,
				pageLength : 15,
				filter : false,
				dom : '<"top"i>rt<"bottom"p><"clear">',

			});

			/* 레코드 수 포맷 */
			var info = table.page.info();
			$('#paymentList_info').html(
					'전체 ' + info.recordsTotal + ' 건').css(
					'font-weight', 'bold');

			$('#paymentList').click(
					function() {
						$('#paymentList_info').html(
								'전체 ' + info.recordsTotal + ' 건');
					});

		});
	</script>
</th:block>
</html>