<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<!-- 사용자 정의 Css -->
<th:block layout:fragment="customCss">
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/mediaelementplayer.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/icheck/skins/flat/red.css}"/>
</th:block>

<th:block layout:fragment="customContents">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-12 padding-0" style="padding-bottom: 20px;">
					<div class="col-md-6" style="padding-left: 10px;">
						<input type="checkbox" class="icheck pull-left" name="checkbox1" />
						<select>
							<option>Delete</option>
							<option>Ignore</option>
							<option>Cancel</option>
						</select>
					</div>
					<div class="col-md-6">
						<div class="col-lg-12">
							<div class="input-group">
								<input type="text" class="form-control" aria-label="...">
								<div class="input-group-btn">
									<button type="button" class="btn btn-default" >
										Search
									</button>
								</div>
								<!-- /btn-group -->
							</div>
							<!-- /input-group -->
						</div>
						<!-- /.col-lg-6 -->
					</div>
				</div>
				<div class="responsive-table">

					<table class="table table-striped table-bordered" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th><input type="checkbox" class="icheck" name="checkbox1" /></th>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="icheck" name="checkbox1" /></td>
								<td>Herrod Chandler</td>
								<td>Sales Assistant</td>
								<td>San Francisco</td>
								<td>59</td>
								<td>2012/08/06</td>
								<td>$137,500</td>
							</tr>
							<!-- <tr th:if="${not #lists.isEmpty(paymentList)}" th:each="l : ${paymentList}">
								<td th:text="${l.paymentCode}"></td>
								<td th:text="${l.memberId}"></td>
								<td th:text="${l.paymentMethodName}"></td>
								<td th:text="${l.paymentTotalOrderPrice}"></td>
								<td th:text="${l.paymentTotalPayPrice}"></td>
								<td th:text="${l.paymentState}"></td>
								<td th:text="${l.paymentRegDate}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(paymentList}">
								<td colspan="7">등록된 결제 내역이 없습니다.</td>
							</tr> -->
						</tbody>
					</table>
				</div>

				<div class="col-md-6" style="padding-top: 20px;">
					<span>showing 0-10 of 30 items</span>
				</div>
				<div class="col-md-6">
					<ul class="pagination pull-right">
						<li><a href="#" aria-label="Previous"> <span
								aria-hidden="true">&laquo;</span>
						</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"> <span
								aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>



</th:block>

<th:block layout:fragment="customBodyScript">

	<!-- plugins -->
	<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
	<script th:src="@{/asset/js/plugins/icheck.min.js}"></script>
	<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>

	<!-- custom -->
	<script th:src="@{/asset/js/main.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		     $('input').iCheck({
		        checkboxClass: 'icheckbox_flat-red',
		        radioClass: 'iradio_flat-red'
		      });
		});
	</script>
</th:block>
</html>