<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/userdefault}">
<!-- 사용자 정의 title -->
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>

<!-- 사용자 정의 Css -->
<th:block layout:fragment="customCss">
	<style type="text/css">
		.orderSelect {
			margin-bottom: 20px;
		}
		.allCheck {
			margin-left: 5px;
			margin-bottom: 0;
		}
		.checks {
			position: absolute;
			top: 10px;
			left: 20px;
		}
		.wishListDiv {
			position: relative;
		}
		.deleteBtn {
			margin-left: 10px;
			margin-top: 0;
			padding: 0 5px;
		}
</style>
</th:block>

<th:block layout:fragment="customContents">
	<div class="container">
		<!-- 전체선택박스 & 정렬기준 -->
		<div class="orderSelect d-flex align-items-end justify-content-between">
			<!-- 전체선택 박스 -->
			<div class="d-flex align-items-center">
				<div class="primary-checkbox">
					<input type="checkbox" id="default-checkbox"> <label for="default-checkbox"></label>
				</div>
				<label for="default-checkbox" class="allCheck">전체선택</label>
				<button type="button" class="genric-btn primary-border small deleteBtn">선택삭제</button>
			</div>

			<!-- 정렬기준 -->
			<div class="default-select" id="default-select">
				<select style="display: none;">
					<option value="1">최신순</option>
					<option value="2">제목순</option>
					<option value="3">평점순</option>
				</select>
				<div class="nice-select" tabindex="0">
					<span class="current">최신순</span>
					<ul class="list">
						<li data-value=" 1" class="option">최신순</li>
						<li data-value="1" class="option">제목순</li>
						<li data-value="1" class="option">평점순</li>
					</ul>
				</div>
			</div>
		</div>


		<!-- 위시리스트 시작 -->
		<div class="row">
			<div class="col-lg-4 col-sm-6 rowProperties" th:if="${not #lists.isEmpty(wishList)}" th:each="l : ${wishList}">
				<div class="properties properties2 mb-30">
					<label >
						<div class="properties__card">
							<div class="properties__img overlay1">
								<img th:src="@{/assets/img/gallery/featured1.png}" alt="">
								<!-- <img th:src="@{/webapp/file/} + ${이미지파일명()}"> -->
								<div class="primary-checkbox checks">
									<input type="checkbox" class="checks" th:data-wishlistcode="${l.wishListCode}">
									<label></label>
								</div>
							</div>
							<div class="properties__caption">
								<p>[[${l.eClassApproved.eClassOpenApplyForm.eClassCategorySmall.eClassCategoryMediumName}]] / [[${l.eClassApproved.eClassOpenApplyForm.eClassCategorySmall.eClassCategorySmallName}]]</p>
								<h3>
									<!-- 운동클래스 페이지로 넘어가게 -->
									<a href="#" th:text="${l.eClassApproved.eClassApprovedName}"></a>
								</h3>
								<p th:text="${l.eClassApproved.eClassOpenApplyForm.eClassIntroduce.eClassIntroduceContent}"></p>
								<div class="properties__footer">
									<div class="restaurant-name">
										<div class="rating">
											<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star-half"></i>
											<p>
												<span>(120)</span>
											</p>
										</div>
	
									</div>
									<div class="price">
										<span>[[${l.eClassApproved.eClassOpenApplyForm.eClassOpenApplyPrice}]]원</span>
									</div>
								</div>
								<a th:href="@{/signUpForClass(eClassCode=${l.eClassApproved.eClassApprovedCode}, memberEmail=${l.member.memberEmail})}" class="border-btn border-btn2">수강신청 하기</a>
							</div>
						</div>
					</label>
				</div>
			</div>
		</div>
		
		<div class="row" th:unless="${not #lists.isEmpty(wishList)}" th:each="l : ${wishList}">
			위시리스트가 없습니다.
		</div>
		
		
	</div>

</th:block>
<!-- 사용자 정의 js -->
<th:block layout:fragment="customScript">
	<script type="text/javascript">
		$(function(){
			var $allCheck = $('#default-checkbox');
			
			//checkbox,label for값 주기
			$('.rowProperties').each(function(index){
				$(this).find('label').attr('for', 'checks_'+index);
				$(this).find('input[type="checkbox"]').attr('id','checks_'+index);
			});
			
			//위시리스트 전체선택 클릭 이벤트
			$allCheck.click(function(){
				$('.checks').prop('checked', $(this).prop('checked'))
			});
			
			//위시리스트 하나라도 체크해제시 전체선택 풀리게
			$('.checks').click(function() {
				var len = $('.checks').length;
				var checkLen = $('.checks:checked').length;
				
				if(len != checkLen)
					$allCheck.prop('checked', false);
				else
					$allCheck.prop('checked', true);
			});
			
			//위시리스트 삭제 이벤트
			$('.deleteBtn').click(function() {
				var checkedDiv = [];
				$('.checks:checked').each(function(){
					checkedDiv.push($(this).attr('data-wishlistcode'));
				});
				
				var result = confirm(checkedDiv +'정말 삭제하시겠습니까?');
				
				if(result == true){
					$('.checks:checked').each(function() {
						$(this).parents('.rowProperties').remove();
					});
					$.ajax({
						url: "/wishList",
						type: "POST",
						data: "wishListCode=" + checkedDiv,
						success : function(data){
					      alert("성공")
					    },
					    error : function(){
					      alert("에러")		
					    }
					  });
				}
				
			});
			
			//위시리스트 정렬
			
			
		});
	</script>
</th:block>

</html>